/* DOCUMENT
*/

body {
    min-width: 700px;
    max-width: 1440px;
    margin: auto;
    font-family: "Open Sans";
    position: relative;
    background: white;
}

html {
    background: black;
}

/* SHARED/GENERAL
*/

.right {
    float: right;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: unset;
}

h1 {
    font-family: Poppins;
    font-size: 50px;
    line-height: 1.5;
}

h2 {
    font-family: Poppins;
    font-size: 30px;
    line-height: 1.2;
}

p {
    margin: 45px 0;
    font-size: 20px;
    line-height: 1.5;
}


.aborder {
    display: inline-block;
    padding: 1em 3em;
    border-radius: 2em / 50%;
    background-color: hsl(322, 100%, 66%);
    color: white;
}

.shadow {
    box-shadow: 0 0 16px hsl(0, 0%, 95%);
}

/* TOP PART
*/
#hero {
    background-image: url("./images/bg-hero-desktop.svg");
    background-color: hsl(193, 100%, 96%);
    padding: 50px;
}

.top .logo {
    width: 175px;
}

.top a {
    background-color: white;
    color: unset;
    margin-top: -1em;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.container > * {
    padding: 30px 0px;
}

.container> :last-child {
    padding-left: 80px;
}

.container .intro {
    width: 44%;
}
.intro a {
    margin: 60px 0;
}
.container img {
    width: 55%;
}

/* MAIN PART
*/
main {
    background-color: white;
    margin: auto;
    width: 80%;
    margin-bottom: 150px;
    padding: 50px;
}


.item {
    display: flex;
    height: 400px;
    padding: 80px;
    margin: 50px auto;
    min-width: 900px;

    border: 1px solid lightgrey;
    position: relative;
    border-radius: 20px;
    overflow: visible;
}

.text-flex {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 50px;
    flex-shrink: 0;
}

.item p {
    font-size: 22px;
    color: hsl(208, 11%, 55%);
}

/* TODO
how to shrink with resizing viewport?
*/
.img-flex {
    height: 100%;
}

/* CALL TO ACTION
*/

.ready {
    white-space: nowrap;
    width: 65%;
    padding: 30px 80px;
    text-align: center;
    background: white;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border: 1px solid white;
}

.ready h1 {
    font-size: 35px;
}

.ready a {
    display: inline-block;
    font-size: 25px;
}

/* BOTTOM PART
*/

footer {
    background-color: hsl(192, 100%, 9%);
    color: hsl(193, 100%, 96%);
    padding: 80px;
    padding-top: 150px;
}

footer .logo {
    height: 40px;
    -webkit-mask: url(./images/logo.svg) no-repeat;
    mask: url(./images/logo.svg) no-repeat;
    background: hsl(193, 100%, 96%);
}

.table {
    display: flex;
}

.table>* {
    margin-top: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin: 20px;
}

.contact-item>* {
    padding: 6px;
    padding-right: 20px;
}

nav {
    align-self: baseline;
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    margin: 20px 100px;
}

nav>* {
    flex-basis: 150px;
    flex-shrink: 0;
    padding: 8px 20px;
}

/* ICONS
*/

.icon {
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid hsl(193, 100%, 96%);
    margin: 10px;
}

img.icon {
    width: 12px;
}


/* MOBILE
*/

@media screen and (max-width: 1100px) {

    .item,
    .container,
    .table {
        flex-direction: column;
        margin: 30px auto;
        height: unset;
    }

    .container img {
        width: 60%;
    }
    .container .intro {
        width: 100%;
    }
    .img-flex {
        width: 45%;
    }

    main,
    footer,
    .container,
    .container>* {
        width: calc(100% - 50px);
        padding: 10px;
        margin: auto;
    }


    main {
        margin-bottom: 150px;
    }

    .item,
    .item > * {
        align-items: center;
        padding: 25px;
        margin: 3px auto;
        min-width: unset;
    }
    .item {
        margin: 30px auto;
    }
    
    .text-flex {
        width: 100%;
    }

    .rev {
        flex-direction: column-reverse;
    }

    .ready {
        width: 90%;
        padding: 15px;
    }

    footer {
        font-size: 26px;
        margin-top: 160px;
        padding-top: 110px;
    }
    footer .logo {
        display: table;
        width: 250px;
        margin: auto;
        text-align: center;
    }
    .table {
        width: 80%;
        margin: auto;
    }
    .table nav {
        margin: unset;
    }
    nav > * {
        width: 350px;
        flex-basis: 100%;
        margin: 10px 0;
    }
    .contact {
        width: 90%;
    }

    .logos {
        text-align: center;
    }
}


/* REST
*/

.copyright {
    font-size: smaller;
    text-align: right;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}